In [1]:
import matplotlib.dates as md
import pandas as pd
import numpy as np
import math
import datetime
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import RobustScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

from matplotlib import rc
from patsy import *
plt.style.use('seaborn')
rc('font', family='NanumGothic')
plt.rcParams['axes.unicode_minus'] = False
%matplotlib inline

-

In [2]:
# 데이터 설명 
# date - 날짜, temp - 온도, tour - 관광객 수, population - 제주도 인구수

In [3]:
jeju = pd.read_csv("datas/target_v3.csv")
jeju = jeju[["date","temp","population","humid"]]
jeju.tail()

           date  temp  population  humid
833  2020-05-14  18.7    670798.0  0.563
834  2020-05-15  19.9    670798.0  0.915
835  2020-05-16  17.6    670798.0  0.966
836  2020-05-17  17.1    670798.0  0.916
837  2020-05-18  19.2    670798.0  0.921

In [4]:
jeju_tour = pd.read_csv("datas/tour_stat.csv")
jeju_tour.tail(3)

           date   tour
835  2020-05-16  23009
836  2020-05-17  24394
837  2020-05-18  24001

### 문제 1 번 
- jeju 데이터와 jeju_tour 데이터 프레임을 합치시고 
- jeju_data 라고 데이터 프레임을 저장하세요!

In [5]:
# code
# '''여기에 쓰세요!'''

### GRNI  수치는 GRDP/지역 인구를 의미한다.
### 제주도인 경우는 관광객 수를 GRDP로 친다고 하면
### jeju_data 프레임에서 위와 같은 수식을 이용한 GRNI의 로그값이 들어가는 행을 추가하세요 ! (로그값!!!)

In [ ]:
# code 는 여기에!

-

#### 2) 체감온도 및 불쾌지수 추가
- 불쾌지수
    - 0.81 * 섭씨온도 +0.01 * 상대습도(%)（0.99*섭씨온도 - 14.3）+ 46.3

In [ ]:
### 코드는 여기에!!### 
## 함수 만들어서 해주세요 ~~
# jeju_data 를 활용해주세요! 
# 그냥하면 1점 감점

In [ ]:
# code 는 여기에!