In [156]:
import pandas as pd
from datetime import datetime
import time

In [218]:
kobis_df = pd.read_csv('./datas/kobis_movie(420).csv')
kobis_df

         Code        Movie  Audience        Open  Screen watchGradeNm genres
0    20192193           도굴    565469  2020-11-04    1634     12세이상관람가     범죄
1    20197121   삼진그룹 영어토익반   1257444  2020-10-21    1080     12세이상관람가    드라마
2    20199816           담보   1702252  2020-09-29     407     12세이상관람가    드라마
3    20208508  미스터트롯: 더 무비    140594  2020-10-22     159        전체관람가     공연
4    20194424       소리도 없이    401759  2020-10-15     126     15세이상관람가     범죄
..        ...          ...       ...         ...     ...          ...    ...
415  20145501         돌연변이    100498  2015-10-22       7     12세이상관람가    드라마
416  20157465         그놈이다   1045218  2015-10-28      35     15세이상관람가    스릴러
417  20157464          더 폰   1593592  2015-10-22       7     15세이상관람가    스릴러
418  20142855       성난 변호사   1127747  2015-10-08      21     15세이상관람가     범죄
419  20149961  미안해 사랑해 고마워     50571  2015-10-28       5     15세이상관람가    드라마

[420 rows x 7 columns]

In [219]:
dele = kobis_df['Open'][kobis_df['Open'] == ' '].index
kobis_df.drop(dele, inplace=True)
kobis_df

         Code        Movie  Audience        Open  Screen watchGradeNm genres
0    20192193           도굴    565469  2020-11-04    1634     12세이상관람가     범죄
1    20197121   삼진그룹 영어토익반   1257444  2020-10-21    1080     12세이상관람가    드라마
2    20199816           담보   1702252  2020-09-29     407     12세이상관람가    드라마
3    20208508  미스터트롯: 더 무비    140594  2020-10-22     159        전체관람가     공연
4    20194424       소리도 없이    401759  2020-10-15     126     15세이상관람가     범죄
..        ...          ...       ...         ...     ...          ...    ...
415  20145501         돌연변이    100498  2015-10-22       7     12세이상관람가    드라마
416  20157465         그놈이다   1045218  2015-10-28      35     15세이상관람가    스릴러
417  20157464          더 폰   1593592  2015-10-22       7     15세이상관람가    스릴러
418  20142855       성난 변호사   1127747  2015-10-08      21     15세이상관람가     범죄
419  20149961  미안해 사랑해 고마워     50571  2015-10-28       5     15세이상관람가    드라마

[416 rows x 7 columns]

In [220]:
kobis_df["Open"]=pd.to_datetime(kobis_df["Open"])
kobis_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 419
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Code          416 non-null    int64
 1   Movie         416 non-null    object
 2   Audience      416 non-null    int64
 3   Open          416 non-null    datetime64[ns]
 4   Screen        416 non-null    int64
 5   watchGradeNm  416 non-null    object
 6   genres        416 non-null    object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 26.0+ KB

In [225]:
kobis_df['month'] = pd.DatetimeIndex(kobis_df['Open']).month
kobis_df['year'] = pd.DatetimeIndex(kobis_df['Open']).year
kobis_df.drop(columns=['Open', 'watchGradeNm'], inplace=True)

In [207]:
kobis_df.to_csv('./kobis_movie(416).csv', sep=',', encoding='utf-8')

In [235]:
kobis_1 = pd.read_csv('./datas/age_rate_data.csv')
kobis_1

,Unnamed: 0,Code,Movie,Audience,Screen,genres,year,month,AgeRate
0,0,20192193,도굴,565.469,1634,범죄,2015,10,청소년관람가
1,1,20197121,삼진그룹 영어토익반,1257.444,1080,드라마,2015,10,청소년관람가
2,2,20199816,담보,1702.252,407,드라마,2015,10,청소년관람가
3,3,20208508,미스터트롯: 더 무비,140.594,159,공연,2015,10,전체관람가
4,4,20194424,소리도 없이,401.759,126,범죄,2015,10,청소년관람가
...,...,...,...,...,...,...,...,...,...
415,415,20145501,돌연변이,100.498,7,드라마,2015,10,청소년관람가
416,416,20157465,그놈이다,1045.218,35,스릴러,2015,10,청소년관람가
417,417,20157464,더 폰,1593.592,7,스릴러,2015,10,청소년관람가
418,418,20142855,성난 변호사,1127.747,21,범죄,2015,10,청소년관람가
419,419,20149961,미안해 사랑해 고마워,50.571,5,드라마,2015,10,청소년관람가

In [236]:
kobis_1.drop(columns=['Unnamed: 0', 'year', 'month'], inplace=True)
kobis_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Code      420 non-null    int64
 1   Movie     420 non-null    object
 2   Audience  420 non-null    float64
 3   Screen    420 non-null    int64
 4   genres    420 non-null    object
 5   AgeRate   420 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 19.8+ KB

In [238]:
kobis_df.drop(columns=['Audience'], inplace=True)

In [239]:
kobis_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 419
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Code    416 non-null    int64
 1   Movie   416 non-null    object
 2   Screen  416 non-null    int64
 3   genres  416 non-null    object
 4   month   416 non-null    int64
 5   year    416 non-null    int64
dtypes: int64(4), object(2)
memory usage: 22.8+ KB

In [241]:
kobis = pd.merge(kobis_1, kobis_df)
kobis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416 entries, 0 to 415
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Code      416 non-null    int64
 1   Movie     416 non-null    object
 2   Audience  416 non-null    float64
 3   Screen    416 non-null    int64
 4   genres    416 non-null    object
 5   AgeRate   416 non-null    object
 6   month     416 non-null    int64
 7   year      416 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 29.2+ KB

In [242]:
kobis.to_csv('./kobis.csv', sep=',', encoding='utf-8')