#### msit: 과학기술 정보통신부
- https://msit.go.kr

In [1]:
import requests
from bs4 import BeautifulSoup

In [14]:
page = 2
url = 'https://www.msit.go.kr/dynamic/article/_policycom2?\
&sort=operday=desc&below=false&pageout=true&aradon.result.format=json\
&aradon.page.pageNo={}&aradon.page.listNum=10&aradon.page.screenCount=5\
&aradon.referrer.href=https://msit.go.kr/web/msipContents/contents.do?mId=MTAxOA='.format(page)

In [15]:
response = requests.get(url)
response

In [23]:
datas = response.json()["result"]["nodes"]
columns = ["action", "admin_p", "artid", "artsubject", "artcont"]
msit_df = pd.DataFrame(datas)[columns]
# pd.set_option('display.max_columns', None)
msit_df.tail()

,action,admin_p,artid,artsubject,artcont
5,INS,디지털신산업제도과,3144550,"과기정통부, 신규 공인전자문서중계자 지정",
6,INS,국립중앙과학관 전시총괄과,3141744,"국립중앙과학관, 슬기로운 과학생활(생명과학편) 온라인 개최",
7,MOD,소프트웨어정책과,3141743,2020 온라인 코딩파티 시즌2 개최(10.19.~11.1.),
8,MOD,우주전파센터 기획협력팀,3141741,'제10회 우주전파환경 콘퍼런스' 온라인 개최,
9,INS,구주아프리카협력담당관,3141742,"한러 수교 30주년 기념, 제9차 열린혁신 대중토론회(포럼) 주빈국 참여",

In [17]:
def html_to_text(html):
    remove_words = ['\n', '\xa0', 'ㅁ', '\r']
    content = BeautifulSoup(html, 'html.parser').text
    for remove_word in remove_words:
        content = content.replace(remove_word, "")
    return content

In [18]:
content = html_to_text(msit_df["artcont"][1])
content[:100]

''

In [19]:
msit_df["artcont"] = msit_df["artcont"].apply(html_to_text)
msit_df.tail(2)

,action,admin_p,artid,artsubject,artcont
8,MOD,우주전파센터 기획협력팀,3141741,'제10회 우주전파환경 콘퍼런스' 온라인 개최,
9,INS,구주아프리카협력담당관,3141742,"한러 수교 30주년 기념, 제9차 열린혁신 대중토론회(포럼) 주빈국 참여",