In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
from sklearn.datasets import load_iris
iris = load_iris()
iris_pd = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_pd['species'] = iris.target
iris_pd.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [34]:
from sklearn.preprocessing import StandardScaler

SS = StandardScaler()
SS.fit(iris.data)

iris_ss = SS.transform(iris.data)
iris_ss_pd = pd.DataFrame(iris_ss, columns=iris.feature_names)

iris_ss_pd.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444
1          -1.143017         -0.131979          -1.340227         -1.315444
2          -1.385353          0.328414          -1.397064         -1.315444
3          -1.506521          0.098217          -1.283389         -1.315444
4          -1.021849          1.249201          -1.340227         -1.315444

In [37]:
from sklearn.model_selection import train_test_split

features = iris_ss
labels = iris.target

X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, stratify=labels, random_state=13)

In [38]:
from sklearn.ensemble import (AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier)
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from lightgbm import LGBMClassifier

In [40]:
models = []
models.append(('RandomForestClassifier', RandomForestClassifier()))
models.append(('DecisionTreeClassifier', DecisionTreeClassifier()))
models.append(('AdaBoostClassifier', AdaBoostClassifier()))
models.append(('GradientBoostingClassifier', GradientBoostingClassifier()))
models.append(('LogisticRegression', LogisticRegression()))
models.append(('LGBMClassifier', LGBMClassifier()))

In [41]:
models

[('RandomForestClassifier', RandomForestClassifier()),
 ('DecisionTreeClassifier', DecisionTreeClassifier()),
 ('AdaBoostClassifier', AdaBoostClassifier()),
 ('GradientBoostingClassifier', GradientBoostingClassifier()),
 ('LogisticRegression', LogisticRegression()),
 ('LGBMClassifier', LGBMClassifier())]

In [43]:
from sklearn.metrics import accuracy_score

for name, model in models:
    clf = model
    clf.fit(X_train, y_train)
    
    y_pred_tr = clf.predict(X_train)
    y_pred_test = clf.predict(X_test)
    
    print('Train Acc : ', accuracy_score(y_train, y_pred_tr))
    print('Test Acc : ', accuracy_score(y_test, y_pred_test))

Train Acc :  1.0
Test Acc :  1.0
Train Acc :  1.0
Test Acc :  0.9666666666666667
Train Acc :  0.95
Test Acc :  1.0
Train Acc :  1.0
Test Acc :  1.0
Train Acc :  0.9583333333333334
Test Acc :  1.0
Train Acc :  1.0
Test Acc :  0.9666666666666667

In [45]:
train_score = []
test_score = []
names = []

for name, model in models:
    clf = model
    clf.fit(X_train, y_train)
    
    y_pred_tr = clf.predict(X_train)
    y_pred_test = clf.predict(X_test)
    
    names.append(name)
    test_score.append(accuracy_score(y_test, y_pred_test))
    train_score.append(accuracy_score(y_train, y_pred_tr))

In [46]:
result = pd.DataFrame({'model name' : names,
                      'train score' : train_score,
                      'test score' : test_score})
result

                   model name  train score  test score
0      RandomForestClassifier     1.000000    1.000000
1      DecisionTreeClassifier     1.000000    1.000000
2          AdaBoostClassifier     0.950000    1.000000
3  GradientBoostingClassifier     1.000000    1.000000
4          LogisticRegression     0.958333    1.000000
5              LGBMClassifier     1.000000    0.966667